@font-face {
    font-family: 'Co Headline W';
    src: url('CoHeadlineW-Regular.woff2') format('woff2'),
    url('CoHeadlineW-Regular.woff') format('woff'),
    url('CoHeadlineW-Regular.svg#CoHeadlineW-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Co Headline W';
}
body.no-scroll{
    overflow: hidden;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1051;
    background-color: #000000;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 60%;
}
.nav-logo img{
    width: 100px;
}
.nav-logo>input{
    width: 70%;
    padding: 8px;
    border: 0.3px solid rgba(128, 128, 128, 0.491);
    border-radius: 5px;
}
.nav-logo>input:focus{
    outline: none;
    border: 0.3px solid rgba(128, 128, 128, 0.491);
}
.nav-bars{
    display: none;
}
.nav-user{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-user>a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
}
.nav-user>a img{
    width: 20px;
    filter: invert(1);
}
.sebet {
    display: flex;
    align-items: center;
    gap: 5px;
}
.sebet .seb-icon{
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sebet .seb-icon>img{
    width: 20px;
    filter: invert(0);
}
.sebet .seb-icon .index{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    color: #fff;
    background-color: #B27317;
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.kategory{
    width: 100%;
    padding: 10px 100px;
    border-bottom: 0.3px solid rgba(128, 128, 128, 0.461);
}
.kategory>ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    margin: 0;
    gap: 5px;
}
.kategory>ul li a{
    text-decoration: none;
    color: #00000097;
    border-left: 0.3px solid gray;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    gap: 3px;
    transition: 0.3s;
}
.kategory>ul li a img{
    width:20px;
    height: 20px;
}
main{
    width: 100%;
    padding: 10px 100px;
    display: flex;
    align-items: center;
    gap: 15px;
}
main .indirim{
    width: 50%;
    height: 350px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
main .indirim .item{
    width: 48%;
    height: 50%;
    overflow: hidden;
    border-radius: 5px;
}
main .indirim .item:last-child{
    width: 100%;
}
main .indirim img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
main .indirim a{
    width: 100%;
    height: 100%;
}
main .indirim a img:hover{
    scale: 1.1;
}
:root {
  --marquee-width: 100%;
  --marquee-height: 45vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 5s);
}

.carousell{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 100px;
    box-shadow:  0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.03), 0 0.275rem 0.75rem -0.0625rem rgba(0, 0, 0, 0.06);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee-content {
  list-style: none;
  margin-bottom: 0;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  white-space: nowrap;
}
.marquee-content li a{
    height: 100%;
}
.marquee-content li a img {
  width: 100%;
  height: 100%;
  border: 2px solid #eee;
  object-fit: cover;
  transition: 0.3s;
}
.marquee-content li a img:hover{
    scale: 1.1;
}
.pantolon-list{
    position: relative;
}
.drop-ul{
    width: 150px;
    position: absolute;
    top: 28px;
    left: 0;
    background-color: #fff;
    padding: 0px;
    list-style: none;
    visibility: hidden;
    transition: 0.3s;
    opacity: 0;
}
.pantolon-list:hover .drop-ul{
    visibility: visible;
    opacity: 1;
}
.drop-ul li{
    padding: 5px;
}
.drop-ul li>a{
    padding: 5px 0px !important;
    color: #B27317 !important;
    white-space: nowrap;
    transition: 0.3s;
    border: none !important;
}
.drop-ul li:hover{
    background-color: #B27317;

}
.drop-ul li:hover a{
    color: #fff !important; 
}
.kategory>ul li:hover a{
    color: #B27317;
}
.overview{
    width: 100%;
    padding: 20px 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    overflow: hidden;
}
.overview .item-menu{
    width: 48%;
    height: 40vh;border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    transition: 0.3s;
}
.overview .item-menu:before{
    content: 'Keşfet';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: #000;
    font-size: 2em;
    color: #fff;
    transition: 0.3s;
    transform: translateX(-110%);
    z-index: 2;
    font-weight: 600;
    box-shadow:  0 5px 10px 10px #706a6a94;
    opacity: 0.8;
}
.overview .item-menu:hover:before{
    transform: translateX(0);
}
.overview .item-menu:hover{
    box-shadow: none;
}
.overview .item-menu a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    position: relative;
    z-index: 1;
}
.overview .item-menu:hover a img{
    scale: 1.1;
}
.services{
    padding: 20px 100px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.service-item{
    width: 25%;
    text-align: center;
}
.service-item .service-img img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.service-item .service-text h3{
    margin-bottom: 15px;
}
.service-item .service-text P{
    color: rgba(128, 128, 128, 0.541);
    font-size: 11px;
}
footer{
    width: 100%;
    padding: 20px 100px;
    background-color: #000;
    color: #fff;
    display: flex;
    gap: 20px;
}
footer .item-1{
    width: 70%;
    display: flex;
    align-items: center;
}
footer .item-2{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .item-1>.footer-logo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
footer .item-1>.footer-logo img{
    width: 170px;
}
footer .item-1>.footer-logo span{
    color: #f7f7f7c6;
    margin: 10px 0px;
    font-size: 14px;
}
footer .item-1>.footer-logo .call{
    font-size: 25px;
    color: #fff;
}
footer .item-1> .footer-company{
    display: flex;
    align-items: center;
    gap: 25px;
    width: 50%;
}
footer .item-1> .footer-company>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
footer .item-1> .footer-company>div span{
    margin: 5px 0;
    color: #f7f7f7c6;
    white-space: nowrap;
    font-size: 13px;
}
footer .item-1> .footer-company>div span:nth-child(1){
    color: #fff;
    font-size: 20px;
}
.item-2 span{
    color: #f7f7f7c6;
    font-size: 13px;
}
.item-2 span:first-child{
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}
.item-2 a{
    text-decoration: none;
    padding: 20px;
    border: 1px solid greenyellow;
    border-radius: 5px;
    text-align: center;
    color: #2CB742;
    background-color: #fff;
    margin-top: 10px;
}
.item-2 a img{
    width: 30px;
    margin-right: 10px;
}
.dark{
    width: 100%;
    background-color: #000;
    padding: 10px;
}
.dark hr{
    background-color: #eee;
}
.copyright{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: #000;
}
.copyright p{
    color: #fff;
    margin: 0;
}
.sosial span a img{
    width: 30px;
    margin: 0px 10px;
}
/* Loader */
/* From Uiverse.io by andrew-manzyk */ 
.loader-menu{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    z-index: 9999999999999;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}
.loader {
  --fill-color: #B27317;
  --shine-color: #5c3d9933;
  transform: scale(0.5); /* You can change the size */
  width: 100px;
  height: auto;
  position: relative;
  filter: drop-shadow(0 0 10px var(--shine-color));
}

.loader #pegtopone {
  position: absolute;
  animation: flowe-one 1s linear infinite;
}

.loader #pegtoptwo {
  position: absolute;
  opacity: 0;
  transform: scale(0) translateY(-200px) translateX(-100px);
  animation: flowe-two 1s linear infinite;
  animation-delay: 0.3s;
}

.loader #pegtopthree {
  position: absolute;
  opacity: 0;
  transform: scale(0) translateY(-200px) translateX(100px);
  animation: flowe-three 1s linear infinite;
  animation-delay: 0.6s;
}

.loader svg g path:first-child {
  fill: var(--fill-color);
}

@keyframes flowe-one {
  0% {
    transform: scale(0.5) translateY(-200px);
    opacity: 0;
  }
  25% {
    transform: scale(0.75) translateY(-100px);
    opacity: 1;
  }
  50% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  75% {
    transform: scale(0.5) translateY(50px);
    opacity: 1;
  }
  100% {
    transform: scale(0) translateY(100px);
    opacity: 0;
  }
}

@keyframes flowe-two {
  0% {
    transform: scale(0.5) rotateZ(-10deg) translateY(-200px) translateX(-100px);
    opacity: 0;
  }
  25% {
    transform: scale(1) rotateZ(-5deg) translateY(-100px) translateX(-50px);
    opacity: 1;
  }
  50% {
    transform: scale(1) rotateZ(0deg) translateY(0px) translateX(-25px);
    opacity: 1;
  }
  75% {
    transform: scale(0.5) rotateZ(5deg) translateY(50px) translateX(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0) rotateZ(10deg) translateY(100px) translateX(25px);
    opacity: 0;
  }
}

@keyframes flowe-three {
  0% {
    transform: scale(0.5) rotateZ(10deg) translateY(-200px) translateX(100px);
    opacity: 0;
  }
  25% {
    transform: scale(1) rotateZ(5deg) translateY(-100px) translateX(50px);
    opacity: 1;
  }
  50% {
    transform: scale(1) rotateZ(0deg) translateY(0px) translateX(25px);
    opacity: 1;
  }
  75% {
    transform: scale(0.5) rotateZ(-5deg) translateY(50px) translateX(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0) rotateZ(-10deg) translateY(100px) translateX(-25px);
    opacity: 0;
  }
}










@media (max-width: 991px){
    header{
        padding: 20px 50px;
    }
    main{
        padding: 10px 50px;
    }
    .carousell{
        padding: 10px 50px;
    }
    .overview{
        padding: 10px 50px;
    }
    .services{
        padding: 20px 50px;
    }
    footer{
        padding: 20px 50px;
    }
    .copyright{
        padding: 10px 50px;
    }
    .nav-logo{
        width: auto;
    }
    .nav-bars{
        display: block;
    }
    .nav-bars img{
        width: 30px;
        filter: invert(1);
    }
    .nav-logo>input{
        display: none;
    }
    .offcanvas-top{
        top: 121px;
        height: auto;
    }
    .modal-backdrop{
        top: 121px;
    }
    .offcanvas-body input{
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 0.3px solid rgba(128, 128, 128, 0.491);
    }
    .offcanvas-body input:focus{
        outline: none;
        border: 0.3px solid rgba(128, 128, 128, 0.491);
    }
    .offcanvas-header{
        justify-content: flex-end;
    }
    .accordion-button:not(.collapsed){
        background-color: #B27317;
        color: #fff;
        outline: none;
    }
    .accordion-button:focus{
        border: none;
        border-color: transparent;
        box-shadow: none;
    }
    .kategory-list{
        margin-top: 20px;
    }
    .kategory{
        display: none;
    }
    .accordion-button img{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .accordion-button:not(.collapsed) img{
        filter: invert(1);
    }
    .accordion-item a{
        text-decoration: none;
    }
    .accordion-button::after{
        display: none;
    }
    .down-arrow::after{
        display: block;
    }
    :root {
  --marquee-width: 100%;
  --marquee-height: 35vh;
    }
    .overview .item-menu:before{
        font-size: 1.5em;
        width: 40%;
        transform: translateX(0);
    }
    .service-item .service-text h5{
        font-size: 16px;
    }
    .service-item .service-img img{
        width: 40px;
        height: 40px;
    }
    footer{
        flex-wrap: wrap;
    }
    footer .item-1,
    footer .item-2{
        width: 100%;
    }
    .item-2 a{
        width: 400px;
    }
}
@media (max-width: 768px){
    header{
        padding: 20px 30px;
    }
    main{
        padding: 10px 30px;
    }
    .carousell{
        padding: 10px 30px;
    }
    .overview{
        padding: 10px 30px;
        flex-wrap: wrap;
    }
    .overview .item-menu{
        width: 100%;
    }
    .services{
        padding: 20px 30px;
    }
    footer{
        padding: 20px 30px;
    }
    .copyright{
        padding: 10px 30px;
        flex-direction: column;
        text-align: center;
    }
    .sosial{
        margin-top: 10px;
    }
    .accordion-button{
        font-size: 13px;
        padding: 10px;
    }
    .accordion-button::after{
        background-size: 1rem;
    }
    main{
        flex-wrap: wrap;
    }
    main .indirim{
        width: 100%;
    }
    :root {
  --marquee-width: 100vw;
  --marquee-height: 35vh;
    }
    .services{
        flex-wrap: wrap;
    }
    .service-item{
        width: 48%;
    }
    .service-item .service-img img{
        width: 30px;
        height: 30px;
    }
    .service-item .service-text p{
        font-size: 11px;
    }
    footer .item-1{
        flex-wrap: wrap;
    }
    footer .item-1 .footer-logo,
    footer .item-1 .footer-company{
        width: 100%;
    }
    .item-2 a{
        width: 100%;
        padding: 10px;
    }


}
@media (max-width: 576px){
    header{
        padding: 20px 10px;
    }
    main{
        padding: 10px;
    }
    .carousell{
        padding: 10px;
    }
    .overview{
        padding: 10px;
    }
    .services{
        padding: 20px 10px;
        flex-wrap: wrap;
    }
    footer{
        padding: 20px 10px;
    }
    .copyright{
        padding: 10px;
    }

    .sebet .seb-icon{
        padding: 10px;
    }
    .sebet .seb-icon img{
        width: 20px;
    }
    .nav-user>a{
        font-size: 0.7em;
    }
    .nav-logo img{
        width: 70px;
    }
    .offcanvas-header{
        padding: 10px;
    }
    .offcanvas-body{
        padding: 10px;
    }
    .offcanvas-body input{
        padding: 5px;
    }
    .offcanvas-top{
        top: 96px;
        height: auto;
    }
    .modal-backdrop{
        top: 96px;
    }
    :root {
  --marquee-width: 100vw;
  --marquee-height: 25vh;
    }
    .overview .item-menu{
        height: 30vh;
        margin-top: 20px;
    }
    .overview{
        gap: 5px;
    }
    .overview .item-menu::before{
        font-size: 1em;
        width: 50%;
    }
    footer .item-1>.footer-logo span{
        font-size: 13px;
        margin: 5px 0;
    }
    footer .item-1> .footer-company>div span{
        font-size: 13px;
    }
    .item-2 span{
        font-size: 13px;
    }
    footer .item-1>.footer-logo .call{
        font-size: 20px;
    }
    main .indirim{
        height: auto;
    }
    main .indirim .item{
        width: 100%;
        height: 200px;
    }
    .service-item{
        width: 100%;
        text-align: center;
    }
    
}
@media (max-width: 480px){
    :root {
  --marquee-width: 100vw;
  --marquee-height: 20vh;
    }
    .service-item .service-text p{
        font-size: 11px;
    }
}
